jenkins-cli.jar
logs
plugins
updates
jobs/*/builds
jobs/*/lastStable
jobs/*/lastSuccessful
jobs/*/nextBuildNumber
jobs/*/configurations
.bash_history
.cache
.gitconfig
.gnupg
.htoprc
.ipython
.lesshst
.npm
.owner
.ssh-ec2
.ssh
.vim
.viminfo
Workspace clean-up.log
_removed/
fingerprints/
gerrit/
jobs/*/scm-polling.log
.subversion/
Fingerprint cleanup.log
config-history/
Connection Activity monitoring to slaves.log
monitoring/
