<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Fetches a file or directory from a remote node and archives it on the master node</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>2</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>PARENT_JOB</name>
          <description>The parent job of the test-runner job which spawned this</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PARENT_NUMBER</name>
          <description>The unique id of the parent job instance</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FILE_HOST</name>
          <description>The host machine for the job that has the file</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FILE_TO_ARCHIVE</name>
          <description>The path and filename of a file to archive</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/usr/bin/env bash
mkdir ~/jobs/$PARENT_JOB/builds/$PARENT_NUMBER/archive
rsync -v -e &quot;ssh -o StrictHostKeyChecking=no -i $JENKINS_HOME/.ssh-ec2/id_rsa -i $JENKINS_HOME/.ssh/id_rsa&quot; $FILE_HOST:$FILE_TO_ARCHIVE ~/jobs/$PARENT_JOB/builds/$PARENT_NUMBER/archive/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>