<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Sets up the test environment by copying over files needed from the master.&#xd;
Especially useful since EC2 nodes can&apos;t connect *back* to the master.</description>
  <logRotator>
    <daysToKeep>2</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>PARENT_JOB</name>
          <description>The build job that spawned the test job.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PARENT_NUMBER</name>
          <description>The unique id of the build job that spawned the test job.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TEST_HOST</name>
          <description>The name of the slave which will be running the test, used to ssh to it.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WORKING_DIR</name>
          <description>The working directory on the slave in which to put the test files.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/usr/bin/env bash
rsync -v -e &quot;ssh -o StrictHostKeyChecking=no -i $JENKINS_HOME/.ssh-ec2/id_rsa -i $JENKINS_HOME/.ssh/id_rsa&quot; ~/jobs/$PARENT_JOB/builds/$PARENT_NUMBER/archive/test.tar.gz ~/jobs/$PARENT_JOB/builds/$PARENT_NUMBER/archive/build_output.tar.gz jenkins@$TEST_HOST:$WORKING_DIR</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>